.header {
    font-family: 'Playfair Display', serif;
    border: 0;
}

.content {
    background: #fff;
    max-width: 860px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 2em;
}

.navbarList {
    list-style: none;
    margin: 2em;
}

.navbarItem {
    display: inline-block;
    margin: 1em;
    margin-bottom: 0;
}

.textMenu {
    font-weight: bold;
    color: #ccc;
    text-decoration: none;
}

@media screen and (max-width: 550px) {
    .content {
        max-width: auto;
        padding: 1.2em;
    }
}